html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

input, select, textarea, button {
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
input, button.btn-form, button.btn-header, #popup-edit textarea,
#popup-add textarea {
  border-radius: 3px;
  overflow: hidden;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #0b0b0b;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 600px;
  background: #ffffff;
}
.wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

input {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 7px 12px;
  border: 1px solid #cccccc;
  background: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
input::-webkit-input-placeholder {
  color: #cccccc;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
input::-ms-input-placeholder {
  color: #cccccc;
  transition-duration: 0.2s;
}
input:-ms-input-placeholder {
  color: #cccccc;
  transition-duration: 0.2s;
}
input::placeholder {
  color: #cccccc;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-ms-input-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
input:focus::placeholder {
  color: transparent;
}

button.btn-form {
  margin-right: 10px;
  border: 1px solid #cccccc;
  background: #f4f4f4;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
button.btn-form:hover {
  background: #eaeaea;
}
button.btn-form:last-child {
  margin-right: 0;
}

button.btn-header {
  display: block;
  padding: 7px 12px;
  border: none;
  background: #006fca;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
button.btn-header:hover {
  background: #0060bb;
}

p.status {
  font-size: 14px;
}
p.status.info {
  color: #9e9e9e;
}
p.status.succses {
  color: #52ac62;
}
p.status.error {
  color: #cc3333;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background: #f4f4f4;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header .button-group,
header .button-group button,
header .search-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .button-group div {
  position: relative;
  margin-right: 12px;
}
header .button-group div:last-child {
  margin-right: 0;
}
header .button-group .popup-fast-add {
  z-index: 999;
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  width: 400px;
  background: #ffffff;
  padding: 20px 25px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header .button-group .popup-fast-add.active {
  display: block;
}
header .button-group .popup-fast-add input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
header .button-group .popup-fast-add .pfa-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .button-group .popup-fast-add .close {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
header .button-group .popup-fast-add .close svg {
  display: block;
  width: 100%;
  height: 100%;
}
header .button-group .popup-fast-add .close svg polygon {
  fill: #9e9e9e;
}
header .search-group {
  position: relative;
}
header .search-group svg {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 12px;
}
header .search-group svg path {
  fill: #9e9e9e;
}
header .search-group input {
  display: block;
  width: 250px;
}
header .search-group #search-result {
  display: none;
  position: absolute;
  top: 45px;
  left: 27px;
  width: 250px;
  max-height: 500px;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  overflow-y: auto;
}
header .search-group #search-result.active {
  display: block;
}
header .search-group #search-result .sr-item {
  width: 100%;
  padding: 7px 15px;
  cursor: pointer;
  border-bottom: 1px solid #e4e4e4;
}
header .search-group #search-result .sr-item:last-child {
  border-bottom: none;
}
header .search-group #search-result .sr-item:hover {
  background: #006fca;
}
header .search-group #search-result .sr-item:hover .sri-date,
header .search-group #search-result .sr-item:hover .sri-title {
  color: #ffffff;
}
header .search-group #search-result .sr-item .sri-title {
  font-weight: 700;
  font-size: 15px;
  color: #0b0b0b;
}
header .search-group #search-result .sr-item .sri-date {
  font-weight: 400;
  font-size: 13px;
  color: #9e9e9e;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 15px 20px;
}
nav .earlier,
nav .later {
  width: 20px;
  height: 20px;
  padding: 0;
}
nav .earlier svg,
nav .later svg {
  width: 50%;
  height: 50%;
}
nav .earlier svg polygon,
nav .later svg polygon {
  fill: #666666;
}
nav .current-date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-width: 126px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}
nav .current-date .month {
  margin-right: 4px;
}
nav .current-date .month,
nav .current-date .year {
  cursor: pointer;
}
nav .current-date #popup-month {
  display: none;
  position: absolute;
  top: 25px;
  left: -11px;
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
nav .current-date #popup-month.active {
  display: block;
}
nav .current-date #popup-month .pm-item {
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
nav .current-date #popup-month .pm-item:hover {
  background: #006fca;
  color: #ffffff;
}
nav .current-date #popup-month .pm-item.active {
  background: #e5f1f9;
  font-weight: 500;
}
nav .current-date #popup-month .pm-item.active:hover {
  background: #006fca;
  color: #ffffff;
}
nav .current-date #popup-year {
  display: none;
  max-height: 308px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 25px;
  right: -11px;
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
nav .current-date #popup-year.active {
  display: block;
}
nav .current-date #popup-year .py-item {
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
nav .current-date #popup-year .py-item:hover {
  background: #006fca;
  color: #ffffff;
}
nav .current-date #popup-year .py-item.active {
  background: #e5f1f9;
  font-weight: 500;
}
nav .current-date #popup-year .py-item.active:hover {
  background: #006fca;
  color: #ffffff;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 20px 20px 20px;
}
.calendar .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20%;
}
.calendar .row .col {
  width: 14.2857%;
  border: 1px solid transparent;
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  padding: 8px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #9e9e9e;
  cursor: pointer;
  overflow: hidden;
}
.calendar .row .col:last-child {
  border-right: 1px solid #e4e4e4;
}
.calendar .row .col:hover {
  border: 1px solid #85c5f9 !important;
}
.calendar .row .col.focus {
  border: 1px solid #85c5f9;
  background: #c1e4ff;
}
.calendar .row .col.focus .col-date,
.calendar .row .col.focus .col-title,
.calendar .row .col.focus .col-descr {
  color: #0b0b0b;
}
.calendar .row .col.current {
  border: 1px solid #9e9e9e;
  background: #f4f4f4;
}
.calendar .row .col.current .col-date {
  font-weight: 700;
  color: #0b0b0b;
}
.calendar .row .col.event {
  background: #e5f1f9;
  color: #0b0b0b;
}
.calendar .row .col.event .col-title {
  font-weight: 700;
}
.calendar .row .col.unfit {
  color: #cccccc;
}
.calendar .row .col.unfit.event {
  background: transparent;
  color: #cccccc;
}
.calendar .row .col.current.event {
  background: #f4f4f4;
}
.calendar .row .col.current.focus, .calendar .row .col.event.focus {
  background: #c1e4ff;
}
.calendar .row .col .col-date,
.calendar .row .col .col-title {
  margin-bottom: 4px;
}
.calendar .row .col .col-descr {
  font-size: 14px;
}
.calendar .row:last-child .col {
  border-bottom: 1px solid #e4e4e4;
}

#popup-edit,
#popup-add {
  display: none;
  position: fixed;
  top: 150px;
  left: 150px;
  width: 300px;
  /*height: 345px;*/
  z-index: 999;
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
#popup-edit.active,
#popup-add.active {
  display: block;
}
#popup-edit .header,
#popup-add .header {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
#popup-edit input,
#popup-edit textarea,
#popup-add input,
#popup-add textarea {
  width: 100%;
  margin-bottom: 15px;
}
#popup-edit textarea,
#popup-add textarea {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  height: 150px;
  margin-bottom: 10px;
  resize: none;
  padding: 7px 12px;
  border: 1px solid #ccc;
  background: #fff;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#popup-edit textarea::-webkit-input-placeholder,
#popup-add textarea::-webkit-input-placeholder {
  color: #cccccc;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
#popup-edit textarea::-ms-input-placeholder,
#popup-add textarea::-ms-input-placeholder {
  color: #cccccc;
  transition-duration: 0.2s;
}
#popup-edit textarea:-ms-input-placeholder,
#popup-add textarea:-ms-input-placeholder {
  color: #cccccc;
  transition-duration: 0.2s;
}
#popup-edit textarea::placeholder,
#popup-add textarea::placeholder {
  color: #cccccc;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
#popup-edit textarea:focus::-webkit-input-placeholder,
#popup-add textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
#popup-edit textarea:focus::-ms-input-placeholder,
#popup-add textarea:focus::-ms-input-placeholder {
  color: transparent;
}
#popup-edit textarea:focus:-ms-input-placeholder,
#popup-add textarea:focus:-ms-input-placeholder {
  color: transparent;
}
#popup-edit textarea:focus::placeholder,
#popup-add textarea:focus::placeholder {
  color: transparent;
}
#popup-edit .close,
#popup-add .close {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
#popup-edit .close svg,
#popup-add .close svg {
  display: block;
  width: 100%;
  height: 100%;
}
#popup-edit .close svg polygon,
#popup-add .close svg polygon {
  fill: #9e9e9e;
}

#popup-add #pa-status {
  margin-bottom: 7px;
}

#popup-edit .pe-date {
  font-size: 14px;
  font-weight: 700;
  margin: 15px 0;
}
#popup-edit .pe-user {
  font-size: 14px;
  margin-bottom: 5px;
}
#popup-edit .pe-users {
  margin-bottom: 15px;
}
